.composition {
    // background:linear-gradient($color-6, $color-3);
    background: url(/img/bg-composition.jpg) center / 100% no-repeat;
    &__inner {
        padding: 80px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "compositionLeft compositionImg compositionRight"
        "compositionLeft orderBig compositionRight";
        justify-items: center;
        gap: 50px;
    }
    &__img{
        grid-area: compositionImg;
    }
    &__list_left{
        grid-area: compositionLeft;
    }
    &__list_right{
        grid-area: compositionRight;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        color: $color-5;
        text-shadow: $color-2 1px 0 10px;
        font-size: 19px;
        font-weight: 500;
    }
    &__item{
        position: relative;
    }
    &__item::before {
        content: url(/icons/tree.png);
        position: absolute;
        left: calc(50% - 30px);
        top: -60px;
        width: 60px;
        height: 60px;
        background: $color-5;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item::after {
        content: "";
        height: 2px;
        width: 200px;
        transform: rotate(45deg);
        position: absolute;
        top: 89px;
        left: 115px;
        background-color: $color-3;
    }
    &__item:nth-child(2)::after{
        transform: rotate(0deg);
        left: 145px;
        top: 10px;
        width: 140px;
    }
    &__item:nth-child(3)::after{
        transform: rotate(135deg);
        top: -60px;
    }
    &__list_right .composition__item::after {
        content: "";
        height: 2px;
        width: 200px;
        transform: rotate(-45deg);
        position: absolute;
        top: 89px;
        left: -180px;
        background-color: $color-3;
    }
    &__list_right .composition__item:nth-child(2)::after{
        transform: rotate(0deg);
        top: 10px;
        left: -150px;
        width: 140px;
    }
    &__list_right .composition__item:nth-child(3)::after{
        transform: rotate(45deg);
        top: -60px;
    }
}